doctype html
html(lang="en")
	head
		title My Portfolio
		link( rel="stylesheet", href="/css/styles.css")
		script( data-main='js/boot', type='text/javascript', src='/js/libs/require.js' )
	body
		div#wrapper
			div#top-nav
			div#header
			di#content
			div#sticky-push
		div#footer